#folder_button {
    margin-bottom: 20px;
    padding-top:25px;
    padding-bottom:25px;
    width: 100%;
}

#side {
    background-color: transparent;
    border-color: transparent;
    text-align: inherit;
    color: #ffffff;
    width: 100%;
}

#data {
    margin-top: 30px;
    margin-bottom: 20px;
}